
@{
    ViewBag.Title = "All Checked Out";
    Layout = "~/Views/Librarian/_Layout.cshtml";
}
<h2></h2>
<p style="color:dodgerblue">@Session["Message"]</p>
@{Session.Remove("Message");}

<table class="table table-responsive table-striped">
    <tr>
        <th>Email ID</th>
        <th>ISBN</th>
        <th>Title</th>
        <th>Checkout Date</th>
        <th>Due Date</th>
    </tr>
    @foreach (List<string> tmp in ViewBag.Results)
    {
        <tr>
            <td>@tmp.ElementAt(0)</td>
            <td>@tmp.ElementAt(1)</td>
            <td>@tmp.ElementAt(2)</td>
            <td>@tmp.ElementAt(3).AsDateTime().ToString("M-d-yyyy")</td>
            <td>@tmp.ElementAt(4).AsDateTime().ToString("M-d-yyyy")</td>
            <td><button onclick="window.location='/Librarian/ReturnBook?ISBN=@tmp.ElementAt(1)&emailid=@tmp.ElementAt(0)'" class="btn-danger">Return</button></td>
        </tr>
    }
</table>
